<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/output.css">
</head>

<body>
    <div class="container min-h-screen">
        <div class="navbar border-2 px-4 flex justify-between py-4 ">
            <div class="logo">
                DFDetect
            </div>
            <div class="menu-icon">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="arrow-down border flex items-center justify-center py-4"><i
                class="fa-solid fa-chevron-down border px-2 py-2 rounded-full sticky"></i>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>