<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="../css/output.css">
    <style>
        .file-selected {
            background-color: #d1fae5;
            border-color: #34d399;
        }
    </style>
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white shadow-lg rounded-lg">
        <form class="space-y-4" enctype="multipart/form-data" method="POST" action="/upload">
            <div id="upload-container"
                class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                <label for="file-upload" class="flex flex-col items-center justify-center w-full h-full">
                    <svg class="w-12 h-12 mb-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                    </svg>
                    <p id="upload-text" class="text-sm text-gray-500"><span class="font-semibold">Click to upload</span>
                        or drag and drop</p>
                    <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    <input id="file-upload" type="file" name="disease" class="hidden" />
                </label>
            </div>
            <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600" disabled
                id="submit-btn">Submit</button>
        </form>
    </div>

    <script>
        const fileInput = document.getElementById('file-upload');
        const uploadContainer = document.getElementById('upload-container');
        const uploadText = document.getElementById('upload-text');
        const submitBtn = document.getElementById('submit-btn');

        fileInput.addEventListener('change', function () {
            if (fileInput.files.length > 0) {
                uploadContainer.classList.add('file-selected');
                uploadText.textContent = `File selected: ${fileInput.files[0].name}`;
                submitBtn.disabled = false;
            } else {
                uploadContainer.classList.remove('file-selected');
                uploadText.textContent = 'Click to upload or drag and drop';
                submitBtn.disabled = true;
            }
        });
    </script>
</body>

</html>