<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container min-h-screen">
        <div class="navbar  flex px-6 py-6 justify-between text-blue-500 border-b  ">
            <div class="logo font-bold text-xl ">DFDetect</div>
            <div class="menu-icon"><i class="fa-solid fa-bars"></i></div>
        </div>
        <div class="div border-b font-bold flex justify-center items-center gap-2 py-4 text-xl">THIS IS <span
                class="text-red-500">NOT</span> MORGAN
            FREEMAN
        </div>
        <div class="video-example mx-4 ">
            <video src="../video/deepfake.mp4" class="rounded-lg" autoplay loop muted></video>
        </div>
        <form action="" class="flex flex-col mt-4 items-center bg-white p-6 rounded-lg max-w-sm mx-auto">
            <label for="file-upload" class="block mb-4 text-gray-700 font-semibold">Upload File:</label>
            <input type="file" id="file-upload"
                class="block w-full text-sm text-gray-500 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-white file:bg-blue-600 hover:file:bg-blue-700 border border-gray-300 rounded-md mb-4 cursor-pointer">
            <button
                class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md transition duration-300 ease-in-out">Submit</button>
        </form>



    </div>
</body>

</html>